@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #B08AF8;
  --tertiary-color: #ECC080;
}

html {
  background-image: url('/images/film-grain.png');
  background-size: 20%;
}

html::after {
  background-color: #130D19;
  transition: .7s;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
}

/* switch theme */
.switch-theme-wrapper {
  top: 50px;
  right: 50px;
}

.switch-theme {
  font-size: 17px;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch-theme .input:checked + .slider {
  background-color: #ececec;
}

.switch-theme .input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.switch-theme .input:checked + .slider:before {
  transform: translateX(24px);
  background-color: #130D19;
}

.slider {
  cursor: pointer;
  background-color: #130D19;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  z-index: 2;
  background-color: #efff67;
  transition: .4s;
}

/* header */
header .content,
header .headline {
  width: 70%;
}

header p {
  line-height: 3rem;
}

/* social media */
.port-socialmedia {
  rotate: z 90deg;
  gap: 15px;
  right: -150px;
  top: 500px;
}

.port-socialmedia .break {
  width: 80px;
  height: 1px;
}

.port-socialmedia a:hover {
  text-decoration: dashed;
  color: var(--tertiary-color);
}

/* skills */
.port-skills ul {
  gap: 10px; /* Adjust the gap between items as needed */
}

.port-skills li {
  border: 1px solid var(--secondary-color);
}

.port-skills .headline h2 {
  margin: 10px 0 0;
}

/*past work */
.port-past-companies > div,
.port-skills > div {
  width: 50%;
}

/* light theme */
.light-theme::after {
  background-color: #e3dfe7;
}

.light-theme .masonry-list li {
  background-color: #0003ff;
  border-color: #0003ff;
}

/* noise animation */
@keyframes noise {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5vw, -5vh);
  }

  20% {
    transform: translate(-10vw, 5vh);
  }

  30% {
    transform: translate(5vw, -10vh);
  }

  40% {
    transform: translate(-5vw, 15vh);
  }

  50% {
    transform: translate(-10vw, 5vh);
  }

  60% {
    transform: translate(15vw, 0vh);
  }

  70% {
    transform: translate(0vw, 10vh);
  }

  80% {
    transform: translate(-15vw, 0vh);
  }

  90% {
    transform: translate(10vw, 5vh);
  }

  100% {
    transform: translate(5vw, 0vh);
  }
}