@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #fff;
  --secondary-color: #B08AF8;
  --tertiary-color: #ECC080;
}

html {
  background-image: url('/images/film-grain.png');
  background-size: 20%;
}

html::after {
  background-color: #130D19;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
}

/* switch theme */
.switch-theme-wrapper {
  top: 50px;
  right: 50px;
}

.switch-theme {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch-theme .sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.switch-theme .moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.switch-theme .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.switch-theme .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.switch-theme input[type="checkbox"]{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-theme .input:checked + .slider {
  background-color: #183153;
}

.switch-theme .input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.switch-theme .input:checked + .slider:before {
  transform: translateX(30px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

/* header */
header .content,
header .headline {
  width: 70%;
}

header p {
  line-height: 3rem;
}

/* social media */
.port-socialmedia {
  rotate: z 90deg;
  gap: 15px;
  right: -150px;
  top: 500px;
}

.port-socialmedia li {
  list-style-type: none;
}

.port-socialmedia .break {
  width: 80px;
  height: 1px;
}

.port-socialmedia a {
  font-size: 12px;
  position: relative;
}

.port-socialmedia a:hover {
  text-decoration: dashed;
  color: var(--tertiary-color);
}

/* skills */
.port-skills > div {
  width: 50%;
}
.port-skills ul {
  gap: 10px; /* Adjust the gap between items as needed */
  list-style: none;
  padding: 0;
}

.port-skills li {
  border: 1px solid var(--secondary-color);
  list-style-type: none;
  padding: 15px 15px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.port-skills .headline {
  box-sizing: border-box;
}


.port-skills .headline h2 {
  margin: 10px 0 0;
}

/*past work */
.port-past-companies > div {
  width: 50%;
}