@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #B08AF8;
  --tertiary-color: #ECC080;
  --darkpurple: #130D19;
}

/* skills */
.port-skills ul {
  gap: 10px; /* Adjust the gap between items as needed */
}

.port-skills .headline h2 {
  margin: 10px 0 0;
}

/*past work */
.port-past-companies > div {
  width: 50%;
}

@media screen and (min-width: 320px) {
  .port-past-companies > div,
  .port-past-companies ul {
    width: 65%;
  }
}

@media screen and (min-width: 480px) {
  .port-past-companies > div,
  .port-past-companies ul {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .port-past-companies div:first-child {
    width: 50%;
  }

  .port-past-companies div:last-child {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .port-past-companies div:first-child {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .port-past-companies > div {
    width: 50%;
  }
}

/* light theme */
.light-theme .masonry-list .port-skill--content {
  background-color: #0003ff;
  border-color: #0003ff;
}

.light-theme .masonry-list .port-skill--title {
  border-color: #0003ff;
  color: #0003ff;
  background-color: transparent;
}

.light-theme header .content:hover span {
  color: var(--primary-color);
}

.light-theme header .content:hover span::after {
  background-color: #0003ff;
}

/* noise animation */
@keyframes noise {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5vw, -5vh);
  }

  20% {
    transform: translate(-10vw, 5vh);
  }

  30% {
    transform: translate(5vw, -10vh);
  }

  40% {
    transform: translate(-5vw, 15vh);
  }

  50% {
    transform: translate(-10vw, 5vh);
  }

  60% {
    transform: translate(15vw, 0vh);
  }

  70% {
    transform: translate(0vw, 10vh);
  }

  80% {
    transform: translate(-15vw, 0vh);
  }

  90% {
    transform: translate(10vw, 5vh);
  }

  100% {
    transform: translate(5vw, 0vh);
  }
}

/* highlight text */
@keyframes highlight {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}